<!-- Footer -->
<footer class="text-center text-white" style="background-color: #1B5E20">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            
        </section>
        <!-- Section: Social media -->

        <!-- Section: Text -->
        <section class="mb-4">
            <div class="row">
                <div class="col-sm-4">
                    <a href="https://goo.gl/maps/pTub9zMZPtGty9yc7" target="_blank" style="color: white; text-align: center;">
                        <i class="fas fa-map-marker-alt"></i> Simón Bolivar #85 Colonia Eréndira C.P. 61168 Ciudad Hidalgo, Michoacán.
                </a>
                </div>
                <div class="col-sm-4">
                    <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/edgargonzalezhgo" role="button"><i
                class="fab fa-facebook-f"></i></a>

        <!-- Twitter 
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>-->

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/edgargonzalezhgo/" role="button"><i
                class="fab fa-instagram"></i></a>
                </div>
                <div class="col-sm-4">
                   <i class="far fa-envelope"></i> edgargonzalezhgo@gmail.com
                </div>
            </div>
            
        </section>
        <!-- Section: Text -->
        <br>
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #0d3010">
        © 2021 Copyright
        <a class="text-white">Edgar González Partido Verde</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
