<!-- Footer -->
<footer class="text-center text-white" style="background-color: #1B5E20">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/edgargonzalezhgo" role="button"><i
                    class="fab fa-facebook-f"></i></a>

            <!-- Twitter 
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>-->

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/edgargonzalezhgo/" role="button"><i
                    class="fab fa-instagram"></i></a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                distinctio earum
                repellat quaerat voluptatibus placeat nam, commodi optio pariatur
                est quia magnam
                eum harum corrupti dicta, aliquam sequi voluptate quas.
            </p>
        </section>
        <!-- Section: Text -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #0d3010">
        © 2021 Copyright
        <a class="text-white">Edgar González Partido Verde</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
