<app-menu></app-menu>
<br>
<div class="container">
  <br>
    <div class="row">
        <div class="col-sm-5">
          <img src="../../assets/imagenes/direccion.jpg" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/>
        </div>
        <br>
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
        <div id="cardContacto" class="card text-center">
            <div class="card-header" style="font-size: 20px;">Contacto</div>
            <div class="card-body">
              <!--FORM DE MENSAJE-->
              <form>
                <!-- Nombre input -->
                <div class="form-outline mb-4">
                  <input style="background-color: white" type="text" id="form4Example1" class="form-control" [(ngModel)]="nuevoMensaje.nombre" name="nombre" required/>
                  <label class="form-label" for="form4Example1">Nombre</label>
                </div>
              
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input style="background-color: white" type="email" id="form4Example2" class="form-control" [(ngModel)]="nuevoMensaje.correo" name="correo" required/>
                  <label class="form-label" for="form4Example2">Correo Electrónico</label>
                </div>
              
                <!-- Mensaje input -->
                <div class="form-outline mb-4">
                  <textarea style="background-color: white" class="form-control" placeholder="Máximo 500 caractéres." id="form4Example3" 
                    minlength="15" maxlength="500" rows="4" [(ngModel)]="nuevoMensaje.mensaje" name="mensaje" required></textarea>
                  <label class="form-label" for="form4Example3">Mensaje</label>
                </div>
              
                <!-- Enviar button -->
                <br>
                <button type="submit" class="btn btn-success btn-block mb-4" (click)="agregar()">Enviar</button>
              </form>
              <!--FIN FORM-->
            </div>
            <div class="card-footer text-muted"></div>
            <br>
          </div>
          </div>

    </div>
</div>
<br><br>
<app-footer></app-footer>
