<nav id="navUs" class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="inicio()"><img src="../../assets/imagenes/logoBlanco.png" width="50px" /></a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" (click)="informacion()">Conóceme</a>
        <a class="nav-link" (click)="propuestas()">Propuestas</a>
        <a class="nav-link" (click)="contacto()">Contacto</a>
        <!--<a class="nav-link" (click)="ingresar()">Ingresar</a>-->
      </div>
    </div>
  </div>
</nav>