<app-menu-admin></app-menu-admin>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align: center;">
            <h2>Usuarios</h2>
        </div>
        <div class="col-sm-4"></div>
    </div>

    <div class="row">
        <!-- Button trigger modal -->
        <div style="text-align: right" *ngIf = "nivel == 'A' ">
            <button type="button" class="btn btn-success" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                <i class="fas fa-user-plus"></i> Agregar </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <!--Usuarios del sistema-->
        <div class="table-responsive">
            <table class="table table-hover table-bordered order-table">
                <thead class="table-active">
                    <tr>
                        <th style="font-weight: bold;">Usuario</th>
                        <th style="font-weight: bold;">Nombre(s)</th>
                        <th style="font-weight: bold;">Apellido(s)</th>
                        <th style="font-weight: bold;">Rol</th>
                        <th *ngIf = "nivel == 'A' ">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of usuario" style="color: black;">
                        <td>{{item.usuario_usu}}</td>
                        <td>{{item.nombre_usu}}</td>
                        <td>{{item.apellidos_usu}}</td>
                        <td *ngIf = "item.rol_usu == 'A'">Administrador</td>
                        <td *ngIf = "item.rol_usu == 'E'">Editor</td>
                        <td *ngIf = "nivel == 'A' "></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Usuario</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-label mb-4">
                        <input type="text" class="form-control" placeholder="Nombre" 
                            [(ngModel)]="nuevoUsuario.nombre" name="nombre" required/>
                    </div>
                    <div class="form-label mb-4">
                        <input type="text" class="form-control" placeholder="Apellidos" 
                            [(ngModel)]="nuevoUsuario.apellidos" name="apellidos" required/>
                    </div>
                    <div class="form-label mb-4">
                        <input type="text" class="form-control" placeholder="Usuario" 
                            [(ngModel)]="nuevoUsuario.usuario" name="usuario" required/>
                    </div>
                    <div class="form-label mb-4">
                        <input type="password" class="form-control"  name="password" placeholder="Contraseña"
                            [(ngModel)]="nuevoUsuario.contra" name="contra" required/>
                    </div>
                    <div class="form-label mb-4">
                        <label style="margin-right: 5px;">Selecciona el Rol:   </label>
                        <select id="roles" name="rol" [(ngModel)]="nuevoUsuario.rol" required>
                            <option *ngFor="let valores of roles" [ngValue]="valores.rol">
                                {{ valores.nombreRol }}
                            </option>
                        </select>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-error" data-mdb-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-success" (click)="agregar()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>