<app-menu></app-menu>
<!-- Tabla -->
<!-- Background image -->
<div class="p-5 text-center bg-image" style="background-image:
 url('../../assets/imagenes/eg_header.jpg');
 height: 200px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Lorem Ipsum</h1>
                <h4 class="mb-3">Lorem ipsum dolor sit amet</h4>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button">Lorem
                    Ipsum</a>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->
<div class="container-fluid">
<table class="default">
    <tr>
        <th scope="row" class="text-dark" class="fw-normal">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit,
                dictum vel massa hendrerit sed senectus, ridiculus accumsan dis aptent
                velit eleifend.
                curae.</p>
        </th>
        <br>
        <th scope="row" class="text-dark" class="fw-normal">
            <!--<img src="https://mdbootstrap.com/img/new/slides/041.jpg" class="img-fluid" alt="..." max-width=10% height="auto" /> -->
            <img src="../../assets/imagenes/img1.jpg" class="img-fluid" alt="..."
                 width="100px" />
        </th>
    </tr>
    <tr>
        <th scope="row" class="text-dark" class="fw-normal">
            <!--<img src="https://mdbootstrap.com/img/new/slides/041.jpg" class="img-fluid" alt="..." max-width=10% height="auto" /> -->
            <img src="../../assets/imagenes/img1.jpg" class="img-fluid" alt="..."
                 width="60px" />
        </th>
        
        <th scope="row" class="text-dark" class="fw-normal">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit,
                dictum vel massa hendrerit sed senectus, ridiculus accumsan dis aptent
                velit eleifend.
                curae.</p>
        </th>
        <br>
    </tr>
    <tr>
        <th scope="row" class="text-dark" class="fw-normal">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit,
                dictum vel massa hendrerit sed senectus, ridiculus accumsan dis aptent
                velit eleifend.
                curae.</p>
        </th>
        <br>
        <th scope="row" class="text-dark" class="fw-normal">
            <!--<img src="https://mdbootstrap.com/img/new/slides/041.jpg" class="img-fluid" alt="..." max-width=10% height="auto" /> -->
            <img src="../../assets/imagenes/img1.jpg" class="img-fluid" alt="..."
                width="100px" />
        </th>
    </tr>
</table>
</div>
<!-- Tabla -->

<app-footer></app-footer>