/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";

a{
    cursor: pointer;
}
#navAdmin, #navUs{
    background-color: #2E7D32;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.9);
}

#cardContacto{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.9);
    width: 100%;
}

.card {
    box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    width: 330px;
    margin: 0 auto;
    background-color: rgb(239, 239, 239);
}

.card:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.9);
}

html{
    font-size: large;
}

/*COMIENZA ESTILOS DE MUESTRA DE PROPUESTA*/
.single-blog-img {
    overflow: hidden;
}

.single-blog-img a img {
    width: 100%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);
}

.single-blog:hover .single-blog-img a img {
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -o-transform: scale(1.09);
    transform: scale(1.09);
}
.blog-content-box {
    background-color: rgb(239, 239, 239) !important;
    padding-left: 25px;
    padding-top: 27px;
    margin-left: 34px;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    background: #fff;
    padding-bottom: 30px;
    box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);
}
.blog-post-date {
    display: table;
    float: left;
    margin-right: 30px;
}
.blog-post-date span:first-child {
    color: #168003;
    display: block;
    font-size:larger;
    font-weight: 700;
    line-height: 1;
    margin-top: -11px;
    margin-bottom: -4px;
    text-align: center;
}
.blog-post-date span:last-child {
    font-size: 14px;
    color: #212121;
    font-weight: 600;
}
.blog-content {
    display: table;
}
.blog-content h4 {
    color: #212121;
}
.blog-content h4 a {
    color: #212121;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}
.blog-content h4 a:hover {
    color: #178C02;
}
.meta-post {
    margin: 10px 0 13px;
}
.meta-post span {
    color: #696969;
    font-size: 15px;
    position: relative;
    padding-right: 23px;
}
.author {
    margin-bottom: 60px;
}
.meta-post span a {
    color: #696969;
    -webkit-transition: .2s;
    transition: .2s;
}

.meta-post span:after {
    position: absolute;
    content: "-";
    right: 4px;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.meta-post span:last-child {
    padding-right: 0;
}
.exerpt {
    line-height: 28px;
    color: #696969;
    margin-bottom: 37px;
}
/*FIN DE ESTILOS DE MUESTRA DE PROPUESTA*/