<app-menu></app-menu>

<!--Carrusel que cubre toda la página. Para hacerlo menos ingresarlo en un container-fluid-->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <div class="carousel-inner" style="text-align: center;" >
            <div class="carousel-item active">
                <img src="../../assets/imagenes/eg_header.jpg" alt="..." class="d-block w-100"/>
            </div>
            <div class="carousel-item">
                <img src="../../assets/imagenes/eg_header3.png" alt="..." class="d-block w-100"/>
            </div>
            <div class="carousel-item">
                <img src="../../assets/imagenes/eg_header.jpg" alt="..." class="d-block w-100"/>
            </div>
        </div>
        <button class="carousel-control-prev" data-mdb-target="#carouselExampleFade" type="button" data-mdb-slide="prev"
            style="color: black;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" data-mdb-target="#carouselExampleFade" type="button" data-mdb-slide="next"
            style="color: black;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
<!--Fin de Carrusel-->

<!-- Background image -->
<!--
<div class="p-5 text-center bg-image" style="background-image:
 url('../../assets/imagenes/eg_header.jpg');
 height: 200px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Lorem Ipsum</h1>
                <h4 class="mb-3">Lorem ipsum dolor sit amet</h4>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button">Lorem
                    Ipsum</a>
            </div>
        </div>
    </div>
</div>-->
<!-- Background image -->

<!-- Tabla -->
<div class="container-fluid">
    <hr>
    <!--<table class="default">
        <tr>
            <th scope="row" class="text-dark" class="fw-normal">
                <p>Soy Ciudadhidalguense, quiero <strong>plantar</strong> ideas y <strong>cosechar</strong> resultados.</p>
            </th>
            <th scope="row" class="text-dark" class="fw-normal">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit,
                    dictum vel massa hendrerit sed senectus, ridiculus accumsan dis aptent
                    velit eleifend. Primis hendrerit duis lectus netus vitae convallis ut
                    semper, enim inceptos placerat eleifend lacinia dignissim pulvinar
                    vel, sapien tempus sociosqu etiam dapibus fames morbi. Dapibus auctor
                    magna mollis nulla varius quisque nostra erat risus consequat, quis
                    luctus augue ornare phasellus curabitur laoreet orci cras porttitor
                    in, nisl suspendisse vestibulum ultricies lobortis suscipit etiam
                    potenti mi.

                    Iaculis netus faucibus convallis accumsan sem orci vel platea proin
                    ultricies fames, quis placerat pretium a tellus dapibus imperdiet mus
                    eu. Nostra elementum diam semper phasellus hendrerit faucibus cursus,
                    ullamcorper torquent proin turpis facilisis purus, facilisi mollis
                    fermentum pellentesque primis dis. Himenaeos netus est nibh inceptos
                    platea orci, natoque purus dis sed potenti, nullam quisque metus eros
                    curae.</p>
            </th>
        </tr>
    </table>
     Tabla -->
     <div class="row">
         <div class="col-md-6" style="text-align: center;">
            <h4>Soy Ciudadhidalguense, quiero <strong>plantar</strong> ideas y <strong>cosechar</strong> resultados.
            </h4>
         </div>
         <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit,
                dictum vel massa hendrerit sed senectus, ridiculus accumsan dis aptent
                velit eleifend. Primis hendrerit duis lectus netus vitae convallis ut
                semper, enim inceptos placerat eleifend lacinia dignissim pulvinar
                vel, sapien tempus sociosqu etiam dapibus fames morbi. Dapibus auctor
                magna mollis nulla varius quisque nostra erat risus consequat, quis
                luctus augue ornare phasellus curabitur laoreet orci cras porttitor
                in, nisl suspendisse vestibulum ultricies lobortis suscipit etiam
                potenti mi.

                Iaculis netus faucibus convallis accumsan sem orci vel platea proin
                ultricies fames, quis placerat pretium a tellus dapibus imperdiet mus
                eu. Nostra elementum diam semper phasellus hendrerit faucibus cursus,
                ullamcorper torquent proin turpis facilisis purus, facilisi mollis
                fermentum pellentesque primis dis. Himenaeos netus est nibh inceptos
                platea orci, natoque purus dis sed potenti, nullam quisque metus eros
                curae.</p>
         </div>
     </div>
</div>
<!--Seccion planilla-->
<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align: center;">
            <h2>Conoce a nuestra <b>Plantilla</b></h2>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><img src="../../assets/imagenes/plan1.jpg" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
        <div class="col-sm-3"><img src="../../assets/imagenes/plan2.jpg" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
        <div class="col-sm-3"><img src="../../assets/imagenes/plan3.png" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
        <div class="col-sm-3"><img src="../../assets/imagenes/plan4.jpg" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><img src="../../assets/imagenes/plan5.jpg" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
        <div class="col-sm-3"><img src="../../assets/imagenes/plan6.jpg" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
        <div class="col-sm-3"><img src="../../assets/imagenes/plan7.jpg" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
        <div class="col-sm-3"><img src="../../assets/imagenes/plan8.jpg" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><img src="../../assets/imagenes/plan9.png" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
        <div class="col-sm-3"><img src="../../assets/imagenes/plan10.jpg" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
        <div class="col-sm-3"><img src="../../assets/imagenes/plan11.jpg" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
        <div class="col-sm-3"><img src="../../assets/imagenes/plan12.png" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><img src="../../assets/imagenes/plan13.jpg" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
        <div class="col-sm-3"><img src="../../assets/imagenes/plan14.png" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
        <div class="col-sm-3"><img src="../../assets/imagenes/plan15.jpg" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
        <div class="col-sm-3"><img src="../../assets/imagenes/plan16.jpg" style="box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.9);" width="100%"/></div>
    </div>
</div>
<br>
<!--Fin seccion planilla-->
<app-footer></app-footer>